<div class="container" id="sign_up_container">
  <h1 class="text-center">Login</h1>

<div class="col-md-4 col-md-offset-4">
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>

  <div class="form-group">
    <%= label_tag :email %>
    <input class="form-control" <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="form-group">
    <%=label_tag :password %>
    <input class="form-control" <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
