<h1>Edit your picture</h1>

<%= form_for @picture do |f| %>

  <div>
    <%= f.label :picture_link %>
    <%= f.text_field :imgur_id %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit "Post a picture" %>

<% end %>

<%= link_to '<button type="button">Back to Petster</button>' .html_safe, pictures_path %>
