<p id="notice"><%= notice %></p>
<h1>Petster</h1><h1>A Place For Pets</h1>

<% if current_user %>
  <%= link_to '<button type="button">Add a Pet</button>' .html_safe, new_picture_path %>
<% end %>

<ul>
<% @pictures.order(:created_at => :desc).each do |picture| %>
    <h2><%= picture.title %></h2>  <p><%= picture.description %></p>

    <% if picture.imgur_id.present? %>
      <img src="<%= picture.imgur_id %>" class="pet-pic">
    <% else %>
      <img src="<%= picture.image %>" class="pet-pic">
    <% end %>
    <p><%= link_to '<button type="button">Make some changes</button>' .html_safe, picture_path(picture) %></p>

<% end %>
</ul>


