<p id="notice"><%= notice %></p>
<h1>Petster</h1><p>A Place For Pets</p>

<% if current_user %>
  <%= link_to "Add a Pet", new_picture_path %>
<% end %>

<ul>
<% @pictures.each do |picture| %>

    <h2><%= picture.title %></h2>  <%= picture.description %>
    <p><%= link_to "Make some changes", picture_path(picture) %></p>
    <img src="<%= picture.imgur_id %>" class="pet-pic">

<% end %>
</ul>
