<div class="container" id="add_post_container">
  <h1 class="text-center">Post a picture</h1>

<div class="col-md-4 col-md-offset-4">
  <%= form_for @picture, html: { multipart: true } do |f| %>

  <div class="form-group">
    <%= f.label :imgur_id, "Add an image from online" %>
    <input class="form-control" <%= f.text_field :imgur_id %>
  </div>

  <div class="form-group">
    <%= f.label :image, "… or upload an image from your computer" %>
    <input id="image_box" <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :title, "Title" %>
    <input class="form-control" <%=f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', id: 'description', :maxlength =>130, :placeholder => "Write description here, 130 max characters" %>
  </div>

  <div class="actions"><%= f.submit "Post picture" %></div>
  </div>
<% end %>

<%= link_to '<button type="button">Back to Petster</button>' .html_safe, pictures_path %>
