<h1>Post a picture</h1>

<%= form_for @picture do |f| %>

  <div>
    <%= f.label :picture_link %>
    <%= f.text_field :imgur_id %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit "Post a picture" %>

<% end %>

<%= link_to "Back to Petster", pictures_path %>
