<h1>Post a picture</h1>

<%= form_for @picture, html: { multipart: true } do |f| %>

  <div>
    <%= f.label :imgur_id, "Add an image from online" %>
    <%= f.text_field :imgur_id %>
  </div>

  <div>
    <%= f.label :image, "… or upload an image from your computer" %>
    <%= f.file_field :image %>
  </div>


  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit "Post a picture" %>

<% end %>

<%= link_to '<button type="button">Back to Petster</button>' .html_safe, pictures_path %>
