<h1> <%= @picture.title %> </h1>
<h2><%= @picture.description %></h2>
<h4>Posted by: <%= @picture.user.name %></h4>

<p>
  <% if @picture.imgur_id.present? %>
    <img src="<%= @picture.imgur_id %>" class="pet-pic">
  <% else %>
    <img src="<%= @picture.image %>" class="pet-pic">
  <% end %>
</p>

<%= link_to '<button type="button">Back to cute</button>'.html_safe, pictures_path %>

<% if @picture.user == current_user || current_user.admin? %>
  <%= link_to '<button type="button">Edit this picture</button>'.html_safe, edit_picture_path(@picture) %>
  <%= link_to '<button type="button">Delete this picture</button>'.html_safe, picture_path, method: :delete, data: { confirm: "Are you sure you want to delete this?"} %>
<% end %>
