<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/236x/30/06/a8/3006a8cf823ffa6033f6e5e3df74a39e.jpg">
  <title>Petster</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<p>
  <% if current_user %>
    Woof woof, hi <%= current_user.name %>!
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to '<button type="button">Logout</button>' .html_safe, session_path('dummy'), method: :delete %>
  <% else %>
    <%= link_to '<button type="button">Login</button>' .html_safe, login_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to '<button type="button">Sign Up</button>' .html_safe, new_user_path %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
