<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/236x/30/06/a8/3006a8cf823ffa6033f6e5e3df74a39e.jpg">
  <title>Petster</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<p>
  <% if current_user %>
    <%= link_to root_path, class: "no-decoration" do %>
      Woof woof, hi <%= current_user.name %>!
    <% end %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to session_path('dummy'), method: :delete do %>
      <button type="button">Logout</button>
    <% end %>
  <% else %>
    <%= link_to new_user_path do %>
      <button type="button">Sign up!</button>
    <% end %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to login_path do %>
      <button type="button">Log in</button>
    <% end %>
  <% end %>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to about_path do %>
    <button type="button">About</button>
  <% end %>
</p>

<%= yield %>

</body>
</html>
